NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_COINGECKO_API_URL=https://api.coingecko.com/api/v3
NEXT_PUBLIC_TRADINGVIEW_SYMBOL=BINANCE:BTCUSDT
NEXT_PUBLIC_WHATSAPP_NUMBER=923000000000
COINMARKETCAP_API_KEY=
COINGLASS_API_KEY=
SUPER_ADMIN_EMAIL=gsmtradinglab@gmail.com
